body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
}

.main-container {
    width: 600px;
    margin: 0 auto;

}

.card {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px;

}


.collapse-container {
    margin: 100px 0;
    padding: 20px;
    background-color: #F8FAFB;
}

.btn-collapse {
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    outline: none;


    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;

}

.btn-collapse:hover {
    background-color: blue;
    border-color: blue;
}

.collapse {
    opacity: 0;
    max-height: 0;
    margin-top: 20px;
    line-height: 25px;
    transition: opacity .5s, max-height .5s;
}

.collapse.show {
    opacity: 1;
    max-height: 300px;
    transition: all .5s;
}

